.currentWeatherBox {
    width: 50%;
    height: 200px;
    margin-top: 50px;
}

.cityBox {
    width: 50%;
}

.pic {
    height: 100px;
    width: 100px;
}

.city {
    font-size: 40px;
    margin-top: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 1000px) {
    .cityBox {
        display: none;
    }
}

.currentInfo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: row nowrap;
}