.input {
    width: calc(50% - 100px);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.searchButton {
    height: 40px;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 32px;
    margin-left: -2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: calc(5% + 40px);
}